/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  background-color: #364156;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #fff;
  font-family: "Roboto Mono", monospace;
}

h1 {
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 32px;
}

header {
  background-color: #666;
  padding: 1%;
  text-align: right;
  font-size: 18px;
}

pre {
  display: inline;
  margin: 0;
}

#status {
  color: #FFC9D8;
}

#online {
  color: #FFC9D8;
}

#username {
  color: #FFC9D8;
}

.column {
  float: left;
}

.operation {
  width: 20%;
}

.state {
  width: 60%;
}

.score-container {
  width: 20%;
  text-align: right;
}

.score {
  border-color: #666;
}

.queue {
  font-size: 20px;
}

.stack {
  font-size: 20px;
}