@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

@font-face {
  font-family: custom;
    src: local("PT Mono"), local("Roboto Mono");
    unicode-range: U+00-024F;
}

@font-face {
  font-family: custom;
    src: local("Noto Sans TC Thin"), local("微軟正黑體");
    unicode-range: U+4E00-9FFF;
}

body {
  background-color: #364156;
  padding: 5px 25px 25px 25px;
  margin: 0px;
  color: #fff;
  font-family: custom, "PT Mono", "Roboto Mono", monospace;
}

h1 {
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 36px;
}

header {
  background-color: #666;
  padding: 1%;
  text-align: right;
  font-size: 20px;
}

#status, #online, #username {
  color: #FFC9D8;
}

.operation {
  float: left;
  width: 15%;
  font-size: 20px;
  height: 70vh;
  overflow-y: scroll;
}

.set {
  background-color: #131F37;
  padding-top: 4px;
  padding-left: 10px;
  display: block;
  overflow: hidden;
}

.state {
  float: left;
  width: 65%;
}

.title {
  float: left;
  font-size: 20px;
  padding-left: 20px;
}

.queue {
  float: left;
  font-size: 20px;
  color: #AFA;
  width: 100%;
  display: inline;
  white-space: pre-wrap;
  margin-top: 10px;
  padding-left: 20px;
}

.stack {
  float: left;
  font-size: 20px;
  color: #AAF;
  width: 100%;
  display: inline;
  white-space: pre-wrap;
  margin-top: 10px;
  padding-left: 20px;
}

.score-container {
  float: right;
  width: 20%;
  font-size: 0px; /*clear top space*/
}

.score {
  width: 100%;
  border-collapse: collapse;
  border: 0px solid #FFC9D8;
  border-color: #FFC9D8;
  text-align: right;
  font-size: 18px;
  background-color: #131F37;
}

/*.score tr:first-child td{
  border-top-color: #131F37;
}

.score tr:last-child td{
  border-bottom-color: #131F37;
}

.score tr td:first-child{
  border-left-color: #131F37;
}

.score tr td:last-child{
  border-right-color: #131F37;
}*/

.queue-btn, .stack-btn {
  user-select: none;
  cursor: pointer;
}

.queue-btn:hover{
  background:#AFA;
  color:black;
}

.stack-btn:hover{
  background:#AAF;
  color:black;
}